@import "../../../global";

.info-box {
    @include flex-x-center;
    background-color: #fff;
    padding: 8px;
    border-radius: 8px;
    max-width: 240px;
    z-index: 20;
    @media screen and (max-width:767px){
        max-width: 180px;
    }
    @media screen and (max-width:600px) {
        max-width: 140px;
    }

    .icon-div {
        background: $orangeColor;
        @include flex-center;
        border-radius: 50%;
        padding: 12px;
        margin-right: 10px;
        color: #fff;
        @media screen and (max-width:600px) {
            padding: 6px;
        }
    }

    .info-box-para {
        font-size: 14px;
        font-weight: 700;
        @media screen and (max-width:767px){
            font-size: 9px;
            font-weight: 500;
        }
    }
}