@import "../../global";

.calendar-input {
    width: 100%;
    background: #fff;
    border: none;
    outline: none;
    height: 52px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: $lightGreyColor;

    @media screen and (max-width: 950px) {
        border-radius: 8px;
      }

      @media screen and (max-width: 600px) {
        font-size: 14px;
      }

      &::placeholder {
        font-weight: 500;
        color: $lightGreyColor;
      }
}

.MuiOutlinedInput-notchedOutline {
    border: none;
    outline: none;
}

::-webkit-scrollbar {
    display: none;
}