$lightPink : #fff3f5;
$lightGreyColor : #84929f;
$orangeColor : #f46872;
$darkPink : #FF63AE;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  };

@mixin flex {
    display: flex;
}

@mixin flex-x-center {
    display: flex;
    align-items: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: "Gilroy";
    src: url("../app/fonts/Gilroy-ExtraBold.ttf");
}